@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_problack';
    src: url('../fonts/cerapro-black-webfont.eot');
    src: url('../fonts/cerapro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-black-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-black-webfont.woff') format('woff'),
    url('../fonts/cerapro-black-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-black-webfont.svg#cera_problack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_promedium';
    src: url('../fonts/cerapro-medium-webfont.eot');
    src: url('../fonts/cerapro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-medium-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-medium-webfont.woff') format('woff'),
    url('../fonts/cerapro-medium-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-medium-webfont.svg#cera_promedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input{
    font-weight: 400;
    font-size: 14px;
    line-height: 114%;
    color: #a5a5a5;
    padding: 12px 14px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

.container{
    max-width: 500px;
    margin: auto;
    border-bottom: solid 10px #46a358;
    padding: 52px 100px 50px;
    box-sizing: border-box;
}

#box_model{
    text-align: center;
    margin-bottom: 40px;
}

.text{
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}
.mb{
    margin-bottom: 25px;
    text-align: center;
}

.container #box_model span:first-of-type{
    padding-right: 15px;
    border-right: solid 1px black;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    display: inline-block;
    box-sizing: border-box;
}

.container #box_model span:last-of-type{
    margin-left: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #46a358;
}

.links{
    display: flex;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    font-weight: 500;
    text-align: center;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    justify-content: center;
    align-items: center;
}

.links:before {
    content: "";
    display: inline-block;
    background-image: url("../images/Group.svg");
    width: 20px;
    height: 20px;
    margin-right: 12px;
}

.links.p15:before {
    background-image: url("../images/facebook_1.svg");
    margin-right: 9px;

}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    background-color: #46A358;
    border: none;
    margin-bottom: 26px;
}


.holder{
    max-width: 1200px;
    margin: auto;
}

.banner .holder{
    background: linear-gradient(135deg, #f5f5f5 0%, #f5f5f5 100%);
    min-height: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 43px;
    margin-bottom: 50px;
}


header{
    padding-top: 31px;
}

header nav, header nav li, header .logo{
    display: inline-block;
}


header ul{
    list-style: none;
}

header nav li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'cera_proregular';

}

header .logo{
    margin-right: 229px;
}

header .login {
    display: inline-flex;
    margin-left: 350px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 10px 15px;
    background: #46a358;
    font-size: 16px;
    color: #fff;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
    line-height: 125%;
    font-family: 'cera_promedium';
}

header .login:before{
        content: "";
        display: inline-block;
        background-image: url("../images/Logout.svg");
        width: 20px;
        height: 20px;
        margin-right: 8px;
}

header nav li{
    margin-right: 50px;

}

header nav li:last-of-type{
    margin-right:0;
}

header nav li a{
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
}

header nav li:after{
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content:"";
    display: block;
    margin-top: 22px;
    transition: 0.3s;
}

header nav li:hover:after{
    background-color: #46a358;
}


.banner article{
    max-width: 557px;
    display: inline-block;
    margin-right: 93px;
}
.banner article h4{
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 7px;
    font-family: 'cera_promedium';
}
.banner article h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    display: inline-block;
    padding-bottom: 5px;
    font-family: 'cera_problack';
}

.banner article h1 span{
    color: #46a358;
    padding-left: 15px;
}

.banner article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    padding-bottom: 49px;
    font-family: 'cera_proregular';

}

.banner a{
    border-radius: 6px;
    padding: 15px 20px;
    background: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    font-family: 'cera_probold';
}


.categories .holder{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.categories .left_sidebar{
    max-width: 310px;
    width: 100%;
    min-height: 774px;
    padding-top: 15px;
    padding-left: 18px;
    background: linear-gradient(135deg, #fbfbfb 0%, #fbfbfb 100%);
    margin-left: 30px;
}

.left_sidebar h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_probold';
    padding-bottom: 8px;
}

.categories .left_sidebar ul{
    list-style: none;
    margin-left: 12px;
}

.categories .left_sidebar li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    font-family: 'cera_proregular';
}
.categories .left_sidebar li a:hover{
    content: "";
    color: #46a358;
    font-weight: 700;
    font-family: 'cera_probold';
}



.categories .right_content {
    max-width: 810px;
    width: 100%;
    margin-bottom: 90px;
}
.categories .right_content  .flex_2{
    display: flex;
    justify-content: space-between;
}
.categories .right_content  .flex_3{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}
.categories .right_content article{
    width: 258px;
    margin-bottom: 70px;
}
.right_content .flex_2 ul{
    display: flex;
    list-style: none;
    margin-bottom: 31px;
}
.right_content .flex_2 nav li{
    margin-right: 38px;
}
.right_content .flex_2 nav li a{
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}
.right_content .flex_2 nav li:after{
    height: 3px;
    /*background-color: #46a358;*/
    background-color: transparent;
    width: 100%;
    content: "";
    display: block;
    margin-top: 7px;
    transition: 0.3s;
}
.right_content .flex_2 nav li:hover:after{
    background-color: #46a358;
}
.right_content .flex_2 nav li a:hover{
    content: "";
    font-family: 'cera_probold';
    font-weight: 700;
    color: #46a358;
}
.right_content .flex_2 p{
    font-family: 'cera_proregular';
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
}


.right_content article {
    margin-bottom: 12px;
}


.right_content article span{
    font-family: 'cera_probold';
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    margin-top: 6px;
}

.right_content article p{
    font-family: 'cera_proregular';
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    padding-bottom: 5px;
}










